<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo</title>
  <style>
    .todo-list{
      display: inline-block;
      width: 33%;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="todo-list">
      <h2>취업준비</h2>
      <input type="text" v-model="newTodo">
      <button v-on:click="addTodo">+</button>
      <ul>
        <!-- for 문 과 key 는 무조건 한 세트 -->
        <li v-for="todo in todos" v-bind:key="todo.id">
          <span>{{ todo.content }}</span>
          <button v-on:click="removeTodo(todo.id)">x</button>
        </li>
      </ul>
    </div>
    <div class="todo-list">
      <h2>SSAFY</h2>
      <input type="text" v-model="newTodo">
      <button v-on:click="addTodo">+</button>
      <ul>
        <li v-for="todo in todos" v-bind:key="todo.id">
          <span>{{ todo.content }}</span>
          <button v-on:click="removeTodo(todo.id)">x</button>
        </li>
      </ul>
    </div>
    <div class="todo-list">
      <h2>기타</h2>
      <input type="text" v-model="newTodo">
      <button v-on:click="addTodo">+</button>
      <ul>
        <li v-for="todo in todos" v-bind:key="todo.id">
          <span>{{ todo.content }}</span>
          <button v-on:click="removeTodo(todo.id)">x</button>
        </li>
      </ul>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        todos: [],
        newTodo: '',
      },
      methods: {
				addTodo: function() {
          if(this.newTodo) {
            this.todos.push({
              id: new Date().getTime(),
              content: this.newTodo,
              // completed: false,
              // remove: false,
            })
            this.newTodo = ''
          }
				},
				removeTodo: function(todoId) {
          // todo.remove = true
          this.todos = this.todos.filter(todo => todo.id !== todoId)
          // this.todos.splice(this.todos.indexOf(todo), 1), 받는 인자도 todo 를 받을 것 
				}
      }
    })
  </script>
</body>
</html>